<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ context.data_detail.title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include 'snippets/include/style/styles.html' %}
</head>

<body>
  <!-- navbar start -->
  {% include 'snippets/navbar.html' %}
  <!-- navbar end -->

  <!-- <div> -->
  <!--   {% for result in context.data_detail %} -->
  <!--   <p>{{ result }}</p> -->
  <!--   {% endfor %} -->
  <!-- </div> -->

  <p>{{ context.data_detail }}</p>

  {% include 'snippets/include/script/script.html' %}
</body>

</html>
